In [1]:
import pandas as pd
import seaborn as sns

In [2]:
## Import and read the first five records of dataset
data=pd.read_csv("fake_news_dataset.csv")
data.head()

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,real
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,fake
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,fake
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,fake
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,fake

In [3]:
## check the  data types of each columns of dataset

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     20000 non-null  object
 1   text      20000 non-null  object
 2   date      20000 non-null  object
 3   source    19000 non-null  object
 4   author    19000 non-null  object
 5   category  20000 non-null  object
 6   label     20000 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [5]:
## Get the number of  rows in the dataset

In [6]:
data.count()

title       20000
text        20000
date        20000
source      19000
author      19000
category    20000
label       20000
dtype: int64

In [7]:
## Check  the null values are their or not

In [8]:
data.isnull().sum()

title          0
text           0
date           0
source      1000
author      1000
category       0
label          0
dtype: int64

In [9]:
##  check the duplicate values

In [10]:
data.duplicated().sum()

0

In [11]:
## Split the whole dataset into train and test set

In [12]:
from sklearn.model_selection import train_test_split

train_set,test_set=train_test_split(data, test_size=0.2, random_state=42)

In [13]:
print(train_set.shape,test_set.shape)

(16000, 7) (4000, 7)

## Explotary Data Analysis  (EDA)

In [14]:
## check the null values of train_set

In [15]:
train_set.isnull().sum()

title         0
text          0
date          0
source      782
author      811
category      0
label         0
dtype: int64

In [16]:
## check the duplicate values of  train_set

In [17]:
train_set.duplicated().sum()

0

In [18]:
## check the value counts of  source and  author solumns

In [19]:
train_set['source'].value_counts()

source
Daily News      1970
The Guardian    1930
BBC             1913
CNN             1898
Fox News        1890
Reuters         1886
NY Times        1874
Global Times    1857
Name: count, dtype: int64

In [20]:
train_set['author'].value_counts()

author
Michael Smith            10
John Smith                9
Christopher Johnson       7
Jennifer Davis            7
John Brown                6
                         ..
Wendy Mccullough          1
Jonathan Curtis           1
Rodney Young              1
Samantha Gutierrez        1
Mr. Ernest Harris Jr.     1
Name: count, Length: 13847, dtype: int64

In [21]:
## fill the null values

In [22]:
train_set['source'].fillna('Global Times', inplace=True)

C:\Users\THIS PC\AppData\Local\Temp\ipykernel_29216\3912575003.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_set['source'].fillna('Global Times', inplace=True)

In [23]:
train_set.isnull().sum()

title         0
text          0
date          0
source        0
author      811
category      0
label         0
dtype: int64

In [24]:
train_set['author'].fillna('Wendy Mccullough', inplace=True)

C:\Users\THIS PC\AppData\Local\Temp\ipykernel_29216\546374671.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_set['author'].fillna('Wendy Mccullough', inplace=True)

In [25]:
train_set.isnull().sum()

title       0
text        0
date        0
source      0
author      0
category    0
label       0
dtype: int64

In [26]:
train_set.isnull().sum()

title       0
text        0
date        0
source      0
author      0
category    0
label       0
dtype: int64

In [27]:
## check the duplicate values again

In [28]:
train_set.duplicated().sum()

0

## Explotary Data Analysis (EDA)

#### Text Preprocessing

In [29]:
train_set.head()

,title,text,date,source,author,category,label
5894,Age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,NY Times,Kimberly Martinez,Politics,real
3728,Trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,BBC,Mr. Daniel Bailey DDS,Sports,real
8958,Animal painting interest I society air east to...,yourself religious point hour Mrs cover case s...,2024-08-25,NY Times,Kimberly Wagner,Politics,fake
7671,Improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,CNN,Charlene Harrington,Entertainment,fake
5999,Family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,Fox News,Robert Gardner,Politics,real

In [30]:
#train_set['source'].value_counts()

In [31]:
#train_set['category'].value_counts()

In [32]:
#train_set['category'].head(100)

In [33]:
#train_set.replace({'source':{'Daily News':0,'The Guardian':1,'BBC':3,'CNN':4,'Fox News':5,'Reuters':6,'NY Times':7,'Global Times':8}}, inplace=True)
#train_set.replace({'cateogry':{'Health':1,'Entertainment':2,'Technology':3,'Business':4,'Sports':5,'Science':6,'Politics':7}},inplace=True)
#train_set.head()

In [34]:
import re
import string

In [35]:
train_set['text'].head()

5894    image morning whether thought seven office kit...
3728    recent item success plant dark however however...
8958    yourself religious point hour Mrs cover case s...
7671    road listen add question main head worker gene...
5999    low indicate education support brother suffer ...
Name: text, dtype: object

In [36]:
## Convert uppercase into lowercase

In [37]:
train_set['text']=train_set['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [38]:
train_set['text']

5894     image morning whether thought seven office kit...
3728     recent item success plant dark however however...
8958     yourself religious point hour mrs cover case s...
7671     road listen add question main head worker gene...
5999     low indicate education support brother suffer ...
                               ...
11284    middle form imagine item company good town for...
11964    collection short section yourself involve real...
5390     card compare magazine education evening energy...
860      fire ask lose institution field candidate age ...
15795    book easy morning report kind better start fig...
Name: text, Length: 16000, dtype: object

In [39]:
train_set['author']=train_set['author'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [40]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [41]:
train_set['title']=train_set['title'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [42]:
train_set['title']

5894     age important scientist question why onto acti...
3728     trial candidate travel pretty agreement attack...
8958     animal painting interest i society air east to...
7671                      improve surface face today fact.
5999                      family pressure common behavior.
                               ...
11284               surface address media speak join poor.
11964     short theory live role pressure since point for.
5390                       hope television artist improve.
860           far choice test last generation friend rich.
15795          audience four art section assume a may out.
Name: title, Length: 16000, dtype: object

In [43]:
train_set['author']=train_set['author'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [44]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [45]:
train_set['source']=train_set['source'].apply(lambda x:" ".join(x.lower() for x in  x.split()))

In [46]:
train_set['source']

5894       ny times
3728            bbc
8958       ny times
7671            cnn
5999       fox news
            ...
11284      fox news
11964      ny times
5390            bbc
860      daily news
15795      ny times
Name: source, Length: 16000, dtype: object

In [47]:
train_set['category']=train_set['category'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [48]:
train_set['category']

5894          politics
3728            sports
8958          politics
7671     entertainment
5999          politics
             ...
11284         business
11964         business
5390           science
860            science
15795           sports
Name: category, Length: 16000, dtype: object

In [49]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr. daniel bailey dds,sports,real
8958,animal painting interest i society air east to...,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [50]:
## Remove the links

In [51]:
train_set['title']=train_set['title'].apply(lambda x: " ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [52]:
train_set['title']

5894     age important scientist question why onto acti...
3728     trial candidate travel pretty agreement attack...
8958     animal painting interest i society air east to...
7671                      improve surface face today fact.
5999                      family pressure common behavior.
                               ...
11284               surface address media speak join poor.
11964     short theory live role pressure since point for.
5390                       hope television artist improve.
860           far choice test last generation friend rich.
15795          audience four art section assume a may out.
Name: title, Length: 16000, dtype: object

In [53]:
train_set['text']=train_set['text'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [54]:
train_set['text']

5894     image morning whether thought seven office kit...
3728     recent item success plant dark however however...
8958     yourself religious point hour mrs cover case s...
7671     road listen add question main head worker gene...
5999     low indicate education support brother suffer ...
                               ...
11284    middle form imagine item company good town for...
11964    collection short section yourself involve real...
5390     card compare magazine education evening energy...
860      fire ask lose institution field candidate age ...
15795    book easy morning report kind better start fig...
Name: text, Length: 16000, dtype: object

In [55]:
train_set['source']=train_set['source'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [56]:
train_set['source']

5894       ny times
3728            bbc
8958       ny times
7671            cnn
5999       fox news
            ...
11284      fox news
11964      ny times
5390            bbc
860      daily news
15795      ny times
Name: source, Length: 16000, dtype: object

In [57]:
train_set['author']=train_set['author'].apply(lambda x:" ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [58]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [59]:
train_set['category']=train_set['category'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [60]:
train_set['category']

5894          politics
3728            sports
8958          politics
7671     entertainment
5999          politics
             ...
11284         business
11964         business
5390           science
860            science
15795           sports
Name: category, Length: 16000, dtype: object

In [61]:
## Remove the puncutations from text

In [62]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [63]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr. daniel bailey dds,sports,real
8958,animal painting interest i society air east to...,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [64]:
def remove_punctuation(text):
    for punctuations in string.punctuation:
        text=text.replace(punctuations,'')
    return text

train_set['title']=train_set['title'].apply(remove_punctuation)
train_set['text']=train_set['text'].apply(remove_punctuation)
train_set['source']=train_set['source'].apply(remove_punctuation)
train_set['author']=train_set['author'].apply(remove_punctuation)
train_set['category']=train_set['category'].apply(remove_punctuation)

In [65]:
train_set['title'].head()

5894    age important scientist question why onto acti...
3728    trial candidate travel pretty agreement attack...
8958    animal painting interest i society air east total
7671                      improve surface face today fact
5999                      family pressure common behavior
Name: title, dtype: object

In [66]:
train_set['text'].head()

5894    image morning whether thought seven office kit...
3728    recent item success plant dark however however...
8958    yourself religious point hour mrs cover case s...
7671    road listen add question main head worker gene...
5999    low indicate education support brother suffer ...
Name: text, dtype: object

In [67]:
train_set['source'].head()

5894    ny times
3728         bbc
8958    ny times
7671         cnn
5999    fox news
Name: source, dtype: object

In [68]:
train_set['author'].head()

5894       kimberly martinez
3728    mr daniel bailey dds
8958         kimberly wagner
7671     charlene harrington
5999          robert gardner
Name: author, dtype: object

In [69]:
train_set['category'].head()

5894         politics
3728           sports
8958         politics
7671    entertainment
5999         politics
Name: category, dtype: object

In [70]:
## Remove the numbers from  text

In [71]:
train_set['title']=train_set['title'].str.replace('\d+','',regex=True)
train_set['text']=train_set['text'].str.replace('\d+','',regex=True)
train_set['source']=train_set['source'].str.replace('\d+','',regex=True)
train_set['author']=train_set['author'].str.replace('\d+','',regex=True)
train_set['category']=train_set['category'].str.replace('\d+','',regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_29216\3529597117.py:1: SyntaxWarning: invalid escape sequence '\d'
  train_set['title']=train_set['title'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_29216\3529597117.py:2: SyntaxWarning: invalid escape sequence '\d'
  train_set['text']=train_set['text'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_29216\3529597117.py:3: SyntaxWarning: invalid escape sequence '\d'
  train_set['source']=train_set['source'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_29216\3529597117.py:4: SyntaxWarning: invalid escape sequence '\d'
  train_set['author']=train_set['author'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_29216\3529597117.py:5: SyntaxWarning: invalid escape sequence '\d'
  train_set['category']=train_set['category'].str.replace('\d+','',regex=True)

In [72]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr daniel bailey dds,sports,real
8958,animal painting interest i society air east total,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [73]:
## Remove the stop words

In [74]:
import nltk

In [75]:
nltk.download('stopwords',download_dir='stopwords/')

[nltk_data] Downloading package stopwords to stopwords/...
[nltk_data]   Package stopwords is already up-to-date!

True

In [76]:
with open('stopwords/corpora/stopwords/english', 'r') as file:
    sw=file.read().splitlines()

In [77]:
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [78]:
train_set['title']=train_set['title'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
train_set['text']=train_set['text'].apply(lambda x:" ".join(x for x in x.split() if x not in sw))
train_set['source']=train_set['source'].apply(lambda x:" ".join(x for x in x.split() if x not in sw))
train_set['author']=train_set['author'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
train_set['category']=train_set['category'].apply(lambda x:" ".join(x for x in x.split() if x not in sw))

In [79]:
train_set.head(20)

,title,text,date,source,author,category,label
5894,age important scientist question onto activity,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr daniel bailey dds,sports,real
8958,animal painting interest society air east total,religious point hour mrs cover case source sea...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real
5751,agent degree pass feeling address,almost without trouble resource memory senior ...,2024-03-09,reuters,dawn stewart,entertainment,fake
1688,spend record participant assume fund real,sense phone change low name use appear senior ...,2023-04-02,guardian,daniel mitchell,entertainment,real
6836,maybe cause center sit cut argue,professional boy blood fast treat east method ...,2025-04-18,ny times,samuel gates,technology,fake
6536,maybe result character value,choice lay sometimes article team newspaper ra...,2024-09-03,cnn,frank barajas,sports,fake
4842,eight though bag claim issue,social sister ball pretty thus management rece...,2023-05-13,ny times,kristen mercado,science,fake
15844,hot allow economy wall fast case,shake represent listen camera student event fi...,2022-08-29,daily news,dustin hamilton,health,real
196,second point increase,sport door want check instead mean yet still f...,2024-03-27,cnn,david saunders,business,fake
518,light baby conference,better guess across position line remain quick...,2025-04-12,reuters,kathleen baker,science,fake
10581,three best end mean,evidence lot reach dinner attention phone resu...,2023-05-25,cnn,michael washington,science,fake
13320,notice term major play,better woman end conference month reality know...,2023-01-21,cnn,heather gonzales,business,fake
10790,response represent hard provide name matter ball,around role institution capital environmental ...,2022-10-15,cnn,melanie odonnell,politics,real
16939,practice environmental management hold close,section drop pressure generation attorney cons...,2025-03-28,cnn,sarah williams,science,fake
841,anyone thus black couple rate,friend sound read medical forward discussion p...,2023-08-23,ny times,ian wagner,politics,fake
9507,fly low half common likely affect,anything market address rise south member send...,2024-11-08,cnn,laura fitzgerald,politics,real
10482,fill loss view education black account,edge everyone young significant bad management...,2025-03-01,global times,matthew morris,entertainment,real

In [80]:
## Stemming technique

In [81]:
from nltk.stem import PorterStemmer

ps=PorterStemmer()

In [82]:
train_set['title']=train_set['title'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['text']=train_set['text'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['source']=train_set['source'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['author']=train_set['author'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['category']=train_set['author'].apply(lambda x:" ".join(ps.stem(x) for x in  x.split()))

In [83]:
train_set.head(20)

,title,text,date,source,author,category,label
5894,age import scientist question onto activ,imag morn whether thought seven offic kitchen ...,2022-05-30,ny time,kimberli martinez,kimberli martinez,real
3728,trial candid travel pretti agreement attack me...,recent item success plant dark howev howev pai...,2024-10-20,bbc,mr daniel bailey dd,mr daniel bailey dd,real
8958,anim paint interest societi air east total,religi point hour mr cover case sourc season p...,2024-08-25,ny time,kimberli wagner,kimberli wagner,fake
7671,improv surfac face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlen harrington,charlen harrington,fake
5999,famili pressur common behavior,low indic educ support brother suffer owner sp...,2025-03-17,fox news,robert gardner,robert gardner,real
5751,agent degre pass feel address,almost without troubl resourc memori senior re...,2024-03-09,reuter,dawn stewart,dawn stewart,fake
1688,spend record particip assum fund real,sens phone chang low name use appear senior re...,2023-04-02,guardian,daniel mitchel,daniel mitchel,real
6836,mayb caus center sit cut argu,profession boy blood fast treat east method si...,2025-04-18,ny time,samuel gate,samuel gate,fake
6536,mayb result charact valu,choic lay sometim articl team newspap rate aro...,2024-09-03,cnn,frank baraja,frank baraja,fake
4842,eight though bag claim issu,social sister ball pretti thu manag recent sub...,2023-05-13,ny time,kristen mercado,kristen mercado,fake
15844,hot allow economi wall fast case,shake repres listen camera student event field...,2022-08-29,daili news,dustin hamilton,dustin hamilton,real
196,second point increas,sport door want check instead mean yet still f...,2024-03-27,cnn,david saunder,david saunder,fake
518,light babi confer,better guess across posit line remain quickli ...,2025-04-12,reuter,kathleen baker,kathleen baker,fake
10581,three best end mean,evid lot reach dinner attent phone result meet...,2023-05-25,cnn,michael washington,michael washington,fake
13320,notic term major play,better woman end confer month realiti know wor...,2023-01-21,cnn,heather gonzal,heather gonzal,fake
10790,respons repres hard provid name matter ball,around role institut capit environment discuss...,2022-10-15,cnn,melani odonnel,melani odonnel,real
16939,practic environment manag hold close,section drop pressur gener attorney consum saf...,2025-03-28,cnn,sarah william,sarah william,fake
841,anyon thu black coupl rate,friend sound read medic forward discuss polici...,2023-08-23,ny time,ian wagner,ian wagner,fake
9507,fli low half common like affect,anyth market address rise south member send ma...,2024-11-08,cnn,laura fitzgerald,laura fitzgerald,real
10482,fill loss view educ black account,edg everyon young signific bad manag owner pre...,2025-03-01,global time,matthew morri,matthew morri,real

##  Building the  vocabulary

In [84]:
from collections import Counter
vocab=Counter()

In [85]:
vocab

Counter()

In [86]:
train_set_columns_list=['title','text','source','author','category']

for i  in train_set_columns_list:
    vocab.update(train_set[i])

In [87]:
vocab

Counter({'global time': 2639,
         'daili news': 1970,
         'guardian': 1930,
         'bbc': 1913,
         'cnn': 1898,
         'fox news': 1890,
         'reuter': 1886,
         'ny time': 1874,
         'wendi mccullough': 1624,
         'michael smith': 20,
         'john smith': 18,
         'christoph johnson': 14,
         'jennif davi': 14,
         'michael lee': 12,
         'john brown': 12,
         'ashley smith': 12,
         'david garcia': 12,
         'jame taylor': 10,
         'lisa william': 10,
         'patricia smith': 10,
         'laura johnson': 10,
         'mark jone': 10,
         'jame johnson': 10,
         'michael brown': 10,
         'daniel johnson': 10,
         'david johnson': 10,
         'michael young': 10,
         'sarah william': 8,
         'jame smith': 8,
         'daniel william': 8,
         'michael johnson': 8,
         'kathleen johnson': 8,
         'daniel adam': 8,
         'mari smith': 8,
         'daniel white': 8,
         'cynthia smith': 8,
         'david thompson': 8,
         'jame garcia': 8,
         'sarah smith': 8,
         'anthoni jone': 8,
         'john rodriguez': 8,
         'robert johnson': 8,
         'jessica johnson': 8,
         'william gonzalez': 8,
         'joshua smith': 8,
         'matthew smith': 8,
         'john johnson': 8,
         'jame walker': 8,
         'jennif smith': 8,
         'jessica brown': 8,
         'michael harri': 8,
         'jason miller': 8,
         'jeffrey jone': 8,
         'jame brown': 8,
         'kimberli smith': 8,
         'sarah johnson': 8,
         'john jone': 8,
         'michael william': 8,
         'matthew garcia': 8,
         'christoph freeman': 8,
         'michel martinez': 8,
         'amanda smith': 8,
         'william brown': 8,
         'jennif walker': 8,
         'david adam': 8,
         'anthoni perez': 8,
         'michael lewi': 8,
         'ryan smith': 8,
         'jame anderson': 8,
         'jame harri': 8,
         'jennif miller': 8,
         'christoph price': 6,
         'alan smith': 6,
         'patrick baker': 6,
         'amanda baker': 6,
         'david hernandez': 6,
         'william thoma': 6,
         'hannah jone': 6,
         'heather brown': 6,
         'donna martinez': 6,
         'april martin': 6,
         'brian jackson': 6,
         'michael walker': 6,
         'kyle torr': 6,
         'david moor': 6,
         'jame olson': 6,
         'kimberli clark': 6,
         'jennif horn': 6,
         'richard allen': 6,
         'tammi davi': 6,
         'michael jackson': 6,
         'daniel jacob': 6,
         'michael steven': 6,
         'david rodriguez': 6,
         'joseph smith': 6,
         'nicol campbel': 6,
         'robert gonzalez': 6,
         'stephani smith': 6,
         'richard robinson': 6,
         'jessica jone': 6,
         'nichola rodriguez': 6,
         'karen white': 6,
         'jame rodriguez': 6,
         'jennif wood': 6,
         'mark hall': 6,
         'richard wilson': 6,
         'robert lewi': 6,
         'jeffrey johnson': 6,
         'brenda jone': 6,
         'jason brown': 6,
         'jame howard': 6,
         'matthew jone': 6,
         'mark thoma': 6,
         'matthew johnson': 6,
         'christoph brown': 6,
         'jeremi garcia': 6,
         'john turner': 6,
         'robert lopez': 6,
         'andrew miller': 6,
         'william thompson': 6,
         'michael evan': 6,
         'john davi': 6,
         'michel cruz': 6,
         'mari harri': 6,
         'david lewi': 6,
         'christoph smith': 6,
         'steven garcia': 6,
         'joshua wilson': 6,
         'kelli jackson': 6,
         'matthew brown': 6,
         'jennif ramirez': 6,
         'robert lee': 6,
         'scott smith': 6,
         'amanda hernandez': 6,
         'anthoni william': 6,
         'david jone': 6,
         'michael sanchez': 6,
         'mari jackson': 6,
         'mark brown': 6,
         'melissa king': 6,
         'andrew perez': 6,
         'brian william': 6,
         'stephani anderson': 6,
         'jennif wright': 6,
         'barbara davi': 6,
         'michael moral': 6,
         'juli william': 6,
         'alexi thompson': 6,
         'david brown': 6,
         'christoph griffin': 6,
         'matthew robbin': 6,
         'joseph hernandez': 6,
         'jason black': 6,
         'david davi': 6,
         'robert martinez': 6,
         'lisa hay': 6,
         'brian nelson': 6,
         'david yate': 6,
         'diana smith': 6,
         'jennif mann': 6,
         'edward garcia': 6,
         'christoph miller': 6,
         'kelli king': 6,
         'andrew anderson': 6,
         'samuel brown': 6,
         'robert smith': 6,
         'alexand hill': 6,
         'michel smith': 6,
         'ryan howard': 6,
         'jame gray': 6,
         'michael jame': 6,
         'michael perri': 6,
         'timothi brown': 6,
         'mari green': 6,
         'ashley johnson': 6,
         'jessica walker': 6,
         'kevin rodriguez': 6,
         'robert rodriguez': 6,
         'joshua garcia': 6,
         'christoph lewi': 6,
         'kimberli martin': 6,
         'michel jone': 6,
         'daniel hernandez': 6,
         'christina johnson': 6,
         'robert harri': 6,
         'charl king': 6,
         'todd smith': 6,
         'brian brown': 6,
         'jame jackson': 6,
         'thoma thoma': 6,
         'sean william': 6,
         'christoph rivera': 6,
         'jennif gomez': 6,
         'robert allen': 6,
         'michel davi': 6,
         'daniel thoma': 6,
         'david anderson': 6,
         'michael perez': 6,
         'kevin martinez': 6,
         'samantha scott': 6,
         'kimberli thoma': 6,
         'elizabeth johnson': 6,
         'robert collin': 6,
         'michael torr': 6,
         'jessica cook': 6,
         'michael turner': 6,
         'amanda parker': 6,
         'veronica smith': 6,
         'scott taylor': 6,
         'robert jone': 6,
         'michael robertson': 6,
         'thoma jone': 6,
         'joseph rodriguez': 6,
         'david collin': 6,
         'amanda jone': 6,
         'heather jackson': 6,
         'joseph lee': 6,
         'jason white': 6,
         'matthew davi': 6,
         'samuel hernandez': 6,
         'michel hill': 6,
         'john morri': 6,
         'justin martinez': 6,
         'robert green': 6,
         'lisa steven': 6,
         'kevin griffin': 6,
         'nanci smith': 6,
         'benjamin smith': 6,
         'christoph martinez': 6,
         'ashley thoma': 6,
         'sandra smith': 6,
         'kimberli martinez': 4,
         'matthew morri': 4,
         'peter foster': 4,
         'robin nelson': 4,
         'william davi': 4,
         'brandon thoma': 4,
         'carla dunn': 4,
         'jess moor': 4,
         'nathan edward': 4,
         'stephen garcia': 4,
         'kenneth kelli': 4,
         'andrea torr': 4,
         'joseph russel': 4,
         'paula lopez': 4,
         'stephen moor': 4,
         'diana carter': 4,
         'mark lewi': 4,
         'heather anderson': 4,
         'john barn': 4,
         'pamela perri': 4,
         'brenda johnson': 4,
         'daniel smith': 4,
         'daniel georg': 4,
         'brian osborn': 4,
         'kristen thoma': 4,
         'jessica gonzalez': 4,
         'michael hugh': 4,
         'melissa richardson': 4,
         'christoph campbel': 4,
         'victoria murphi': 4,
         'daniel deleon': 4,
         'michel ochoa': 4,
         'elizabeth taylor': 4,
         'michel alexand': 4,
         'ashley bennett': 4,
         'william jone': 4,
         'jonathan glover': 4,
         'diana wilson': 4,
         'david conway': 4,
         'daniel king': 4,
         'kevin william': 4,
         'timothi hall': 4,
         'mark brook': 4,
         'aaron jimenez': 4,
         'mark gilmor': 4,
         'jessica simmon': 4,
         'john robinson': 4,
         'michael hill': 4,
         'mari morgan': 4,
         'katherin johnson': 4,
         'megan thompson': 4,
         'joshua thompson': 4,
         'mari garcia': 4,
         'scott william': 4,
         'anthoni gonzalez': 4,
         'melani thompson': 4,
         'daniel garcia': 4,
         'megan johnson': 4,
         'nichola fitzpatrick': 4,
         'emili brown': 4,
         'kristi lopez': 4,
         'ami harri': 4,
         'stephani grant': 4,
         'angela rodriguez': 4,
         'justin edward': 4,
         'stephani clark': 4,
         'stephani cook': 4,
         'lanc clark': 4,
         'brandon rodriguez': 4,
         'philip william': 4,
         'timothi lee': 4,
         'frederick rodriguez': 4,
         'ryan rodriguez': 4,
         'william gutierrez': 4,
         'jordan garcia': 4,
         'miranda william': 4,
         'kim duncan': 4,
         'donna brown': 4,
         'jennif howel': 4,
         'christoph kelli': 4,
         'jason jone': 4,
         'stephani gutierrez': 4,
         'michel evan': 4,
         'melani smith': 4,
         'susan brown': 4,
         'julia robinson': 4,
         'michel patterson': 4,
         'jennif water': 4,
         'samantha davi': 4,
         'kyle jimenez': 4,
         'john miller': 4,
         'brittani brown': 4,
         'dawn william': 4,
         'steven wilson': 4,
         'michael roger': 4,
         'david littl': 4,
         'jame russel': 4,
         'jeffrey evan': 4,
         'patricia foster': 4,
         'heather simpson': 4,
         'gregori thoma': 4,
         'joshua wright': 4,
         'melani martinez': 4,
         'jennif harri': 4,
         'john thoma': 4,
         'laura thoma': 4,
         'christoph edward': 4,
         'joshua phelp': 4,
         'kyle marshal': 4,
         'kimberli harri': 4,
         'jefferi jone': 4,
         'olivia robert': 4,
         'evelyn johnson': 4,
         'gloria anderson': 4,
         'traci william': 4,
         'elizabeth jackson': 4,
         'steven anderson': 4,
         'brian jone': 4,
         'jeremi brown': 4,
         'joshua fisher': 4,
         'michel dawson': 4,
         'natali william': 4,
         'christina klein': 4,
         'robert garcia': 4,
         'jennif keller': 4,
         'lisa scott': 4,
         'david smith': 4,
         'michael price': 4,
         'donna davi': 4,
         'christoph lopez': 4,
         'jessica price': 4,
         'jerri smith': 4,
         'linda nelson': 4,
         'christoph anderson': 4,
         'richard garcia': 4,
         'whitney jone': 4,
         'david cook': 4,
         'valeri davi': 4,
         'michel clark': 4,
         'jennif washington': 4,
         'kelli vaughn': 4,
         'juli hugh': 4,
         'sara carter': 4,
         'kimberli jone': 4,
         'mari robinson': 4,
         'tina johnson': 4,
         'christoph stewart': 4,
         'michael robert': 4,
         'dana martin': 4,
         'charl sosa': 4,
         'sean owen': 4,
         'anna johnson': 4,
         'kyle bowen': 4,
         'nichola jackson': 4,
         'jessica wiley': 4,
         'steven brown': 4,
         'taylor brown': 4,
         'michael white': 4,
         'justin smith': 4,
         'brandon thompson': 4,
         'sarah rodriguez': 4,
         'jame davi': 4,
         'amanda mayo': 4,
         'jami soto': 4,
         'robin garcia': 4,
         'charl moor': 4,
         'joshua martinez': 4,
         'jasmin garcia': 4,
         'kenneth hall': 4,
         'john meyer': 4,
         'andrea moor': 4,
         'victor brown': 4,
         'robert wolf': 4,
         'richard gregori': 4,
         'mark hill': 4,
         'jennif martinez': 4,
         'thoma alvarez': 4,
         'jonathan wilson': 4,
         'samuel young': 4,
         'keith harri': 4,
         'jennif stone': 4,
         'crystal gomez': 4,
         'william adam': 4,
         'jessica turner': 4,
         'jonathan castillo': 4,
         'megan william': 4,
         'tammi johnson': 4,
         'todd lopez': 4,
         'charl white': 4,
         'donald brown': 4,
         'william robinson': 4,
         'brandon smith': 4,
         'william perkin': 4,
         'jame morri': 4,
         'jessica miller': 4,
         'angela butler': 4,
         'timothi steven': 4,
         'ian perez': 4,
         'kimberli boyd': 4,
         'amanda conley': 4,
         'catherin curti': 4,
         'gregori torr': 4,
         'kimberli adam': 4,
         'jeremi young': 4,
         'richard johnson': 4,
         'brittani kelley': 4,
         'mark baker': 4,
         'michel johnson': 4,
         'traci johnson': 4,
         'stephani miller': 4,
         'mari cole': 4,
         'john phillip': 4,
         'richard hill': 4,
         'wendi sanchez': 4,
         'conni hernandez': 4,
         'donna william': 4,
         'michael diaz': 4,
         'john hunt': 4,
         'daniel brown': 4,
         'christina lyon': 4,
         'jame rivera': 4,
         'joshua william': 4,
         'cindi johnson': 4,
         'lauren pearson': 4,
         'peter edward': 4,
         'patrick elli': 4,
         'sarah thompson': 4,
         'marcu cook': 4,
         'jessica bennett': 4,
         'charl bell': 4,
         'michael hunt': 4,
         'juli king': 4,
         'juli ramo': 4,
         'william blair': 4,
         'georg scott': 4,
         'sharon brown': 4,
         'jose harri': 4,
         'joshua alvarado': 4,
         'sandra hale': 4,
         'nichola moor': 4,
         'amanda gomez': 4,
         'jessica gonzal': 4,
         'anthoni torr': 4,
         'jennif cruz': 4,
         'andrew diaz': 4,
         'jeffrey lynch': 4,
         'michael griffin': 4,
         'heather garcia': 4,
         'laura wright': 4,
         'andrew william': 4,
         'brian ford': 4,
         'daniel reed': 4,
         'gregori young': 4,
         'jennif hall': 4,
         'aaron smith': 4,
         'michael perkin': 4,
         'pamela robinson': 4,
         'derrick johnson': 4,
         'deanna adam': 4,
         'jacob fletcher': 4,
         'amanda rey': 4,
         'michael davi': 4,
         'robert morgan': 4,
         'deborah ramirez': 4,
         'mark davi': 4,
         'andr phillip': 4,
         'ryan lopez': 4,
         'brian aria': 4,
         'andrew wilson': 4,
         'chelsea davi': 4,
         'andrew johnson': 4,
         'chelsea smith': 4,
         'jeremi lewi': 4,
         'stephani bank': 4,
         'elizabeth watt': 4,
         'joseph moor': 4,
         'adam johnson': 4,
         'mark william': 4,
         'lynn smith': 4,
         'john buchanan': 4,
         'charl hernandez': 4,
         'debra wiley': 4,
         'david reed': 4,
         'daniel mendez': 4,
         'jordan smith': 4,
         'emili wilson': 4,
         'brett jone': 4,
         'david romero': 4,
         'christin flore': 4,
         'jordan martin': 4,
         'janic anderson': 4,
         'jonathan wagner': 4,
         'gregori mayo': 4,
         'rebecca lewi': 4,
         'david mccormick': 4,
         'michael alvarez': 4,
         'patrick moran': 4,
         'michael cooper': 4,
         'richard hensley': 4,
         'kimberli parker': 4,
         'jennif white': 4,
         'stephani lee': 4,
         'william walker': 4,
         'jame kaiser': 4,
         'stephani fisher': 4,
         'andrew clark': 4,
         'william bailey': 4,
         'david guzman': 4,
         'steven jone': 4,
         'michael mendez': 4,
         'michael medina': 4,
         'eric holm': 4,
         'sarah martinez': 4,
         'justin johnson': 4,
         'lisa romero': 4,
         'jasmin moor': 4,
         'anthoni hunter': 4,
         'donald moor': 4,
         'nichola peterson': 4,
         'jennif henderson': 4,
         'susan johnson': 4,
         'maria white': 4,
         'sara jone': 4,
         'brian lopez': 4,
         'jennif rodriguez': 4,
         'richard ramirez': 4,
         'terri smith': 4,
         'chad martinez': 4,
         'adam anderson': 4,
         'michel martin': 4,
         'andrew rodriguez': 4,
         'linda hernandez': 4,
         'jennif webb': 4,
         'christina brook': 4,
         'robert west': 4,
         'john hall': 4,
         'anthoni rodriguez': 4,
         'michael butler': 4,
         'karen hubbard': 4,
         'cheryl edward': 4,
         'sherri weaver': 4,
         'john evan': 4,
         'kevin smith': 4,
         'nicol jone': 4,
         'mari meyer': 4,
         'samantha jackson': 4,
         'daniel matthew': 4,
         'jennif gordon': 4,
         'megan taylor': 4,
         'robert mill': 4,
         'michael field': 4,
         'karen william': 4,
         'amber smith': 4,
         'robert delgado': 4,
         'jessica whitehead': 4,
         'christina peterson': 4,
         'jessica roman': 4,
         'mari thoma': 4,
         'william cook': 4,
         'christoph kennedi': 4,
         'jennif king': 4,
         'mari wilson': 4,
         'zachari smith': 4,
         'manuel rodriguez': 4,
         'robert soli': 4,
         'melissa william': 4,
         'heather butler': 4,
         'christoph murphi': 4,
         'robert brown': 4,
         'jennif garcia': 4,
         'samuel smith': 4,
         'john myer': 4,
         'richard gibson': 4,
         'kristen soto': 4,
         'stephani brown': 4,
         'david clark': 4,
         'daniel jone': 4,
         'karen ramo': 4,
         'anthoni smith': 4,
         'stacey smith': 4,
         'brian lewi': 4,
         'mark smith': 4,
         'jame gilbert': 4,
         'jessica king': 4,
         'michael hernandez': 4,
         'kevin washington': 4,
         'blake wilson': 4,
         'destini thompson': 4,
         'robert edward': 4,
         'michael frank': 4,
         'matthew holland': 4,
         'elizabeth garcia': 4,
         'stephani crawford': 4,
         'timothi mcbride': 4,
         'amanda johnson': 4,
         'brandon perez': 4,
         'elizabeth ho': 4,
         'robert sanchez': 4,
         'monica allen': 4,
         'jame jone': 4,
         'jennif flore': 4,
         'ashley walker': 4,
         'william johnson': 4,
         'elizabeth sim': 4,
         'kyle smith': 4,
         'robert meyer': 4,
         'richard morgan': 4,
         'patricia robert': 4,
         'daniel brock': 4,
         'william king': 4,
         'michael mendoza': 4,
         'maria short': 4,
         'anthoni georg': 4,
         'christoph wilson': 4,
         'mari collin': 4,
         'jacob brown': 4,
         'erika rodriguez': 4,
         'karen jen': 4,
         'robert kramer': 4,
         'sarah thoma': 4,
         'lisa wagner': 4,
         'mark hernandez': 4,
         'patricia brown': 4,
         'robert wilson': 4,
         'jennif fisher': 4,
         'kathryn jone': 4,
         'lisa mitchel': 4,
         'justin patel': 4,
         'michel miller': 4,
         'sergio miller': 4,
         'cynthia davi': 4,
         'jame walsh': 4,
         'jessica zimmerman': 4,
         'stephen soto': 4,
         'brad stephen': 4,
         'kathleen wilson': 4,
         'zachari thompson': 4,
         'melissa smith': 4,
         'ronald ross': 4,
         'john harri': 4,
         'juli white': 4,
         'lauri hill': 4,
         'jame webb': 4,
         'jason smith': 4,
         'scott hill': 4,
         'jose adam': 4,
         'nicol smith': 4,
         'daniel thompson': 4,
         'roy klein': 4,
         'jennif turner': 4,
         'robert davi': 4,
         'joshua jone': 4,
         'donald jone': 4,
         'vanessa taylor': 4,
         'emili perez': 4,
         'matthew chavez': 4,
         'robert villa': 4,
         'jason rodriguez': 4,
         'lisa washington': 4,
         'tamara green': 4,
         'michael marsh': 4,
         'regina jone': 4,
         'sarah hernandez': 4,
         'mari clark': 4,
         'jason william': 4,
         'robert thompson': 4,

In [88]:
len(vocab)

45901

token = [key for key in vocab if vocab[key]>8]
token

In [93]:
def save_vocabulary(lines, filename):
    data="\n".join(lines)
    file=open(filename,'w', encoding="utf-8")
    file.write(data)
    file.close()

save_vocabulary(vocab, 'vocabulary.txt')

In [94]:
## Seperate the dataset  independent variables and target variable

In [95]:
x=train_set.drop('label', axis=1)
y=train_set['label']

In [96]:
x.head()

,title,text,date,source,author,category
5894,age import scientist question onto activ,imag morn whether thought seven offic kitchen ...,2022-05-30,ny time,kimberli martinez,kimberli martinez
3728,trial candid travel pretti agreement attack me...,recent item success plant dark howev howev pai...,2024-10-20,bbc,mr daniel bailey dd,mr daniel bailey dd
8958,anim paint interest societi air east total,religi point hour mr cover case sourc season p...,2024-08-25,ny time,kimberli wagner,kimberli wagner
7671,improv surfac face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlen harrington,charlen harrington
5999,famili pressur common behavior,low indic educ support brother suffer owner sp...,2025-03-17,fox news,robert gardner,robert gardner

In [97]:
y.head()

5894    real
3728    real
8958    fake
7671    fake
5999    real
Name: label, dtype: object

In [98]:
## split the independent features into X_train,X_test,y_train,y_test

In [99]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

In [100]:
X_train.shape

(12800, 6)

In [101]:
y_train.shape

(12800,)

In [102]:
X_test.shape

(3200, 6)

In [103]:
y_test.shape

(3200,)