In [1]:
import pandas as pd
import seaborn as sns

In [2]:
## Import and read the first five records of dataset
data=pd.read_csv("fake_news_dataset.csv")
data.head()

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,real
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,fake
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,fake
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,fake
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,fake

In [3]:
## check the  data types of each columns of dataset

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     20000 non-null  object
 1   text      20000 non-null  object
 2   date      20000 non-null  object
 3   source    19000 non-null  object
 4   author    19000 non-null  object
 5   category  20000 non-null  object
 6   label     20000 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [5]:
## Get the number of  rows in the dataset

In [6]:
data.count()

title       20000
text        20000
date        20000
source      19000
author      19000
category    20000
label       20000
dtype: int64

In [7]:
## Check  the null values are their or not

In [8]:
data.isnull().sum()

title          0
text           0
date           0
source      1000
author      1000
category       0
label          0
dtype: int64

In [9]:
##  check the duplicate values

In [10]:
data.duplicated().sum()

0

In [11]:
## Split the whole dataset into train and test set

In [12]:
from sklearn.model_selection import train_test_split

train_set,test_set=train_test_split(data, test_size=0.2, random_state=42)

In [13]:
print(train_set.shape,test_set.shape)

(16000, 7) (4000, 7)

## Explotary Data Analysis  (EDA)

In [14]:
## check the null values of train_set

In [15]:
train_set.isnull().sum()

title         0
text          0
date          0
source      782
author      811
category      0
label         0
dtype: int64

In [16]:
## check the duplicate values of  train_set

In [17]:
train_set.duplicated().sum()

0

In [18]:
## check the value counts of  source and  author solumns

In [19]:
train_set['source'].value_counts()

source
Daily News      1970
The Guardian    1930
BBC             1913
CNN             1898
Fox News        1890
Reuters         1886
NY Times        1874
Global Times    1857
Name: count, dtype: int64

In [20]:
train_set['author'].value_counts()

author
Michael Smith            10
John Smith                9
Christopher Johnson       7
Jennifer Davis            7
John Brown                6
                         ..
Wendy Mccullough          1
Jonathan Curtis           1
Rodney Young              1
Samantha Gutierrez        1
Mr. Ernest Harris Jr.     1
Name: count, Length: 13847, dtype: int64

In [21]:
## fill the null values

In [22]:
train_set['source'].fillna('Global Times', inplace=True)

C:\Users\THIS PC\AppData\Local\Temp\ipykernel_72772\3912575003.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_set['source'].fillna('Global Times', inplace=True)

In [23]:
train_set.isnull().sum()

title         0
text          0
date          0
source        0
author      811
category      0
label         0
dtype: int64

In [24]:
train_set['author'].fillna('Wendy Mccullough', inplace=True)

C:\Users\THIS PC\AppData\Local\Temp\ipykernel_72772\546374671.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_set['author'].fillna('Wendy Mccullough', inplace=True)

In [25]:
train_set.isnull().sum()

title       0
text        0
date        0
source      0
author      0
category    0
label       0
dtype: int64

In [26]:
train_set.isnull().sum()

title       0
text        0
date        0
source      0
author      0
category    0
label       0
dtype: int64

In [27]:
## check the duplicate values again

In [28]:
train_set.duplicated().sum()

0

## Explotary Data Analysis (EDA)

#### Text Preprocessing

In [29]:
train_set.head()

,title,text,date,source,author,category,label
5894,Age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,NY Times,Kimberly Martinez,Politics,real
3728,Trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,BBC,Mr. Daniel Bailey DDS,Sports,real
8958,Animal painting interest I society air east to...,yourself religious point hour Mrs cover case s...,2024-08-25,NY Times,Kimberly Wagner,Politics,fake
7671,Improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,CNN,Charlene Harrington,Entertainment,fake
5999,Family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,Fox News,Robert Gardner,Politics,real

In [30]:
#train_set['source'].value_counts()

In [31]:
#train_set['category'].value_counts()

In [32]:
#train_set['category'].head(100)

In [33]:
#train_set.replace({'source':{'Daily News':0,'The Guardian':1,'BBC':3,'CNN':4,'Fox News':5,'Reuters':6,'NY Times':7,'Global Times':8}}, inplace=True)
#train_set.replace({'cateogry':{'Health':1,'Entertainment':2,'Technology':3,'Business':4,'Sports':5,'Science':6,'Politics':7}},inplace=True)
#train_set.head()

In [34]:
import re
import string

In [35]:
train_set['text'].head()

5894    image morning whether thought seven office kit...
3728    recent item success plant dark however however...
8958    yourself religious point hour Mrs cover case s...
7671    road listen add question main head worker gene...
5999    low indicate education support brother suffer ...
Name: text, dtype: object

In [36]:
## Convert uppercase into lowercase

In [37]:
train_set['text']=train_set['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [38]:
train_set['text']

5894     image morning whether thought seven office kit...
3728     recent item success plant dark however however...
8958     yourself religious point hour mrs cover case s...
7671     road listen add question main head worker gene...
5999     low indicate education support brother suffer ...
                               ...
11284    middle form imagine item company good town for...
11964    collection short section yourself involve real...
5390     card compare magazine education evening energy...
860      fire ask lose institution field candidate age ...
15795    book easy morning report kind better start fig...
Name: text, Length: 16000, dtype: object

In [39]:
train_set['author']=train_set['author'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [40]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [41]:
train_set['title']=train_set['title'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [42]:
train_set['title']

5894     age important scientist question why onto acti...
3728     trial candidate travel pretty agreement attack...
8958     animal painting interest i society air east to...
7671                      improve surface face today fact.
5999                      family pressure common behavior.
                               ...
11284               surface address media speak join poor.
11964     short theory live role pressure since point for.
5390                       hope television artist improve.
860           far choice test last generation friend rich.
15795          audience four art section assume a may out.
Name: title, Length: 16000, dtype: object

In [43]:
train_set['author']=train_set['author'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [44]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [45]:
train_set['source']=train_set['source'].apply(lambda x:" ".join(x.lower() for x in  x.split()))

In [46]:
train_set['source']

5894       ny times
3728            bbc
8958       ny times
7671            cnn
5999       fox news
            ...
11284      fox news
11964      ny times
5390            bbc
860      daily news
15795      ny times
Name: source, Length: 16000, dtype: object

In [47]:
train_set['category']=train_set['category'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [48]:
train_set['category']

5894          politics
3728            sports
8958          politics
7671     entertainment
5999          politics
             ...
11284         business
11964         business
5390           science
860            science
15795           sports
Name: category, Length: 16000, dtype: object

In [49]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr. daniel bailey dds,sports,real
8958,animal painting interest i society air east to...,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [50]:
## Remove the links

In [51]:
train_set['title']=train_set['title'].apply(lambda x: " ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [52]:
train_set['title']

5894     age important scientist question why onto acti...
3728     trial candidate travel pretty agreement attack...
8958     animal painting interest i society air east to...
7671                      improve surface face today fact.
5999                      family pressure common behavior.
                               ...
11284               surface address media speak join poor.
11964     short theory live role pressure since point for.
5390                       hope television artist improve.
860           far choice test last generation friend rich.
15795          audience four art section assume a may out.
Name: title, Length: 16000, dtype: object

In [53]:
train_set['text']=train_set['text'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [54]:
train_set['text']

5894     image morning whether thought seven office kit...
3728     recent item success plant dark however however...
8958     yourself religious point hour mrs cover case s...
7671     road listen add question main head worker gene...
5999     low indicate education support brother suffer ...
                               ...
11284    middle form imagine item company good town for...
11964    collection short section yourself involve real...
5390     card compare magazine education evening energy...
860      fire ask lose institution field candidate age ...
15795    book easy morning report kind better start fig...
Name: text, Length: 16000, dtype: object

In [55]:
train_set['source']=train_set['source'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [56]:
train_set['source']

5894       ny times
3728            bbc
8958       ny times
7671            cnn
5999       fox news
            ...
11284      fox news
11964      ny times
5390            bbc
860      daily news
15795      ny times
Name: source, Length: 16000, dtype: object

In [57]:
train_set['author']=train_set['author'].apply(lambda x:" ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [58]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [59]:
train_set['category']=train_set['category'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [60]:
train_set['category']

5894          politics
3728            sports
8958          politics
7671     entertainment
5999          politics
             ...
11284         business
11964         business
5390           science
860            science
15795           sports
Name: category, Length: 16000, dtype: object

In [61]:
## Remove the puncutations from text

In [62]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [63]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr. daniel bailey dds,sports,real
8958,animal painting interest i society air east to...,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [64]:
def remove_punctuation(text):
    for punctuations in string.punctuation:
        text=text.replace(punctuations,'')
    return text

train_set['title']=train_set['title'].apply(remove_punctuation)
train_set['text']=train_set['text'].apply(remove_punctuation)
train_set['source']=train_set['source'].apply(remove_punctuation)
train_set['author']=train_set['author'].apply(remove_punctuation)
train_set['category']=train_set['category'].apply(remove_punctuation)

In [65]:
train_set['title'].head()

5894    age important scientist question why onto acti...
3728    trial candidate travel pretty agreement attack...
8958    animal painting interest i society air east total
7671                      improve surface face today fact
5999                      family pressure common behavior
Name: title, dtype: object

In [66]:
train_set['text'].head()

5894    image morning whether thought seven office kit...
3728    recent item success plant dark however however...
8958    yourself religious point hour mrs cover case s...
7671    road listen add question main head worker gene...
5999    low indicate education support brother suffer ...
Name: text, dtype: object

In [67]:
train_set['source'].head()

5894    ny times
3728         bbc
8958    ny times
7671         cnn
5999    fox news
Name: source, dtype: object

In [68]:
train_set['author'].head()

5894       kimberly martinez
3728    mr daniel bailey dds
8958         kimberly wagner
7671     charlene harrington
5999          robert gardner
Name: author, dtype: object

In [69]:
train_set['category'].head()

5894         politics
3728           sports
8958         politics
7671    entertainment
5999         politics
Name: category, dtype: object

In [70]:
## Remove the numbers from  text

In [71]:
train_set['title']=train_set['title'].str.replace('\d+','',regex=True)
train_set['text']=train_set['text'].str.replace('\d+','',regex=True)
train_set['source']=train_set['source'].str.replace('\d+','',regex=True)
train_set['author']=train_set['author'].str.replace('\d+','',regex=True)
train_set['category']=train_set['category'].str.replace('\d+','',regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_72772\3529597117.py:1: SyntaxWarning: invalid escape sequence '\d'
  train_set['title']=train_set['title'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_72772\3529597117.py:2: SyntaxWarning: invalid escape sequence '\d'
  train_set['text']=train_set['text'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_72772\3529597117.py:3: SyntaxWarning: invalid escape sequence '\d'
  train_set['source']=train_set['source'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_72772\3529597117.py:4: SyntaxWarning: invalid escape sequence '\d'
  train_set['author']=train_set['author'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_72772\3529597117.py:5: SyntaxWarning: invalid escape sequence '\d'
  train_set['category']=train_set['category'].str.replace('\d+','',regex=True)

In [72]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr daniel bailey dds,sports,real
8958,animal painting interest i society air east total,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [73]:
## Remove the stop words

In [74]:
import nltk

In [75]:
nltk.download('stopwords',download_dir='stopwords/')

[nltk_data] Downloading package stopwords to stopwords/...
[nltk_data]   Package stopwords is already up-to-date!

True

In [76]:
with open('stopwords/corpora/stopwords/english', 'r') as file:
    sw=file.read().splitlines()

In [77]:
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [78]:
train_set['title']=train_set['title'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
train_set['text']=train_set['text'].apply(lambda x:" ".join(x for x in x.split() if x not in sw))
train_set['source']=train_set['source'].apply(lambda x:" ".join(x for x in x.split() if x not in sw))
train_set['author']=train_set['author'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
train_set['category']=train_set['category'].apply(lambda x:" ".join(x for x in x.split() if x not in sw))

In [79]:
train_set.head(20)

,title,text,date,source,author,category,label
5894,age important scientist question onto activity,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr daniel bailey dds,sports,real
8958,animal painting interest society air east total,religious point hour mrs cover case source sea...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real
5751,agent degree pass feeling address,almost without trouble resource memory senior ...,2024-03-09,reuters,dawn stewart,entertainment,fake
1688,spend record participant assume fund real,sense phone change low name use appear senior ...,2023-04-02,guardian,daniel mitchell,entertainment,real
6836,maybe cause center sit cut argue,professional boy blood fast treat east method ...,2025-04-18,ny times,samuel gates,technology,fake
6536,maybe result character value,choice lay sometimes article team newspaper ra...,2024-09-03,cnn,frank barajas,sports,fake
4842,eight though bag claim issue,social sister ball pretty thus management rece...,2023-05-13,ny times,kristen mercado,science,fake
15844,hot allow economy wall fast case,shake represent listen camera student event fi...,2022-08-29,daily news,dustin hamilton,health,real
196,second point increase,sport door want check instead mean yet still f...,2024-03-27,cnn,david saunders,business,fake
518,light baby conference,better guess across position line remain quick...,2025-04-12,reuters,kathleen baker,science,fake
10581,three best end mean,evidence lot reach dinner attention phone resu...,2023-05-25,cnn,michael washington,science,fake
13320,notice term major play,better woman end conference month reality know...,2023-01-21,cnn,heather gonzales,business,fake
10790,response represent hard provide name matter ball,around role institution capital environmental ...,2022-10-15,cnn,melanie odonnell,politics,real
16939,practice environmental management hold close,section drop pressure generation attorney cons...,2025-03-28,cnn,sarah williams,science,fake
841,anyone thus black couple rate,friend sound read medical forward discussion p...,2023-08-23,ny times,ian wagner,politics,fake
9507,fly low half common likely affect,anything market address rise south member send...,2024-11-08,cnn,laura fitzgerald,politics,real
10482,fill loss view education black account,edge everyone young significant bad management...,2025-03-01,global times,matthew morris,entertainment,real

In [80]:
## Stemming technique

In [81]:
from nltk.stem import PorterStemmer

ps=PorterStemmer()

In [84]:
train_set['title']=train_set['title'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['text']=train_set['text'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['source']=train_set['source'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['author']=train_set['author'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
train_set['category']=train_set['author'].apply(lambda x:" ".join(ps.stem(x) for x in  x.split()))

In [85]:
train_set.head(20)

,title,text,date,source,author,category,label
5894,age import scientist question onto activ,imag morn whether thought seven offic kitchen ...,2022-05-30,ny time,kimberli martinez,kimberli martinez,real
3728,trial candid travel pretti agreement attack me...,recent item success plant dark howev howev pai...,2024-10-20,bbc,mr daniel bailey dd,mr daniel bailey dd,real
8958,anim paint interest societi air east total,religi point hour mr cover case sourc season p...,2024-08-25,ny time,kimberli wagner,kimberli wagner,fake
7671,improv surfac face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlen harrington,charlen harrington,fake
5999,famili pressur common behavior,low indic educ support brother suffer owner sp...,2025-03-17,fox news,robert gardner,robert gardner,real
5751,agent degr pass feel address,almost without troubl resourc memori senior re...,2024-03-09,reuter,dawn stewart,dawn stewart,fake
1688,spend record particip assum fund real,sens phone chang low name use appear senior re...,2023-04-02,guardian,daniel mitchel,daniel mitchel,real
6836,mayb cau center sit cut argu,profession boy blood fast treat east method si...,2025-04-18,ny time,samuel gate,samuel gate,fake
6536,mayb result charact valu,choic lay sometim articl team newspap rate aro...,2024-09-03,cnn,frank baraja,frank baraja,fake
4842,eight though bag claim issu,social sister ball pretti thu manag recent sub...,2023-05-13,ny time,kristen mercado,kristen mercado,fake
15844,hot allow economi wall fast case,shake repres listen camera student event field...,2022-08-29,daili news,dustin hamilton,dustin hamilton,real
196,second point increa,sport door want check instead mean yet still f...,2024-03-27,cnn,david saunder,david saunder,fake
518,light babi confer,better guess across posit line remain quickli ...,2025-04-12,reuter,kathleen baker,kathleen baker,fake
10581,three best end mean,evid lot reach dinner attent phone result meet...,2023-05-25,cnn,michael washington,michael washington,fake
13320,notic term major play,better woman end confer month realiti know wor...,2023-01-21,cnn,heather gonzal,heather gonzal,fake
10790,respon repr hard provid name matter ball,around role institut capit environment discuss...,2022-10-15,cnn,melani odonnel,melani odonnel,real
16939,practic environ manag hold close,section drop pressur gener attorney consum saf...,2025-03-28,cnn,sarah william,sarah william,fake
841,anyon thu black coupl rate,friend sound read medic forward discuss polici...,2023-08-23,ny time,ian wagner,ian wagner,fake
9507,fli low half common like affect,anyth market address rise south member send ma...,2024-11-08,cnn,laura fitzgerald,laura fitzgerald,real
10482,fill loss view educ black account,edg everyon young signific bad manag owner pre...,2025-03-01,global time,matthew morri,matthew morri,real

##  Building the  vocabulary

In [ ]:
from collections import Counter
vocab=Counter()

In [ ]:
vocab

In [ ]:
train_set_columns_list=['title','text','source','author','category']

for i  in train_set_columns_list:
    vocab.update(train_set[i])

In [ ]:
len(vocab)

In [ ]:
#token = [key for key in vocab if vocab[key]>8]
#token

In [ ]:
#len(token)

In [ ]:
def save_vocabulary(lines, filename):
    data="\n".join(lines)
    file=open(filename,'w', encoding="utf-8")
    file.write(data)
    file.close()

save_vocabulary(vocab, 'vocabulary.txt')

In [ ]:
## Seperate the dataset  independent variables and target variable

In [ ]:
x=train_set.drop('label', axis=1)
y=train_set['label']

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
## split the independent features into X_train,X_test,y_train,y_test

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
X_test.shape

In [ ]:
y_test.shape

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
## convert the text into the  numerical values

In [ ]:
import numpy as np

def vectorizer(ds, vocabulary):
    vectorizer_list = []
    vocab_set = set(vocabulary)  # Use a set for faster lookup
    
    for sentence in ds:
        sentence_list = np.zeros(len(vocabulary), dtype=np.float32)  # Use np.float16 to reduce memory usage
        sentence_words = set(sentence.split())  # Split and convert sentence to a set to speed up membership checking
        
        for i, word in enumerate(vocabulary):
            if word in sentence_words:  # Check if word exists in the sentence
                sentence_list[i] = 1
                
        vectorizer_list.append(sentence_list)
    
    # Convert the list to a numpy array only once
    vectorizer_list_new = np.asarray(vectorizer_list, dtype=np.float32)
    
    return vectorizer_list_new

In [ ]:
# Example: Combine columns into a single sentence per row
X_train = pd.DataFrame(X_train)
X_train.shape

In [ ]:
ds = X_train.astype(str).agg(' '.join, axis=1).tolist() 
len(ds)

In [ ]:
vectorized_x_train=vectorizer(ds,vocab)
vectorized_x_train

In [ ]:
vectorized_x_train.shape

In [ ]:
ds = X_test.astype(str).agg(' '.join, axis=1).tolist() 
len(ds)

In [ ]:
vectorized_x_test=vectorizer(ds,vocab)
vectorized_x_test

In [ ]:
vectorized_x_test.shape

In [ ]:
## check the valu counts of y_train

In [ ]:
y_train.shape

In [ ]:
y_train.value_counts()

In [ ]:
import matplotlib.pyplot as plt
plt.pie(np.array([y_train.value_counts()[0],y_train.value_counts()[1]]), labels=["Fake","Real"])

In [ ]:
 ## Handle the imbalance dataset

In [ ]:
from imblearn.over_sampling import SMOTE
smote=SMOTE()
vectorized_x_train_smote,y_train_smote=smote.fit_resample(vectorized_x_train,y_train)
print(vectorized_x_train_smote.shape,y_train_smote.shape)

In [ ]:
## convert the y_train_smote valuues into numerical values

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_ob=LabelEncoder()
encoded_target_label=label_ob.fit_transform(y_train)
encoded_target_label

## ANN (Artificial Neural Network)

In [ ]:
import tensorflow as tf
import random
#seed =10
#np.random.seed(seed)
#tf.random.set_seed(seed)
#random.seed(seed)

model=tf.keras.Sequential([
    tf.keras.layers.Dense(16, input_shape=(45901,)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(128, activation='sigmoid'),
    tf.keras.layers.Dense(1, activation='sigmoid')

])

model.compile(
    loss='binary_crossentropy',
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    metrics=['accuracy']
)

In [ ]:
history = model.fit(
    vectorized_x_train,encoded_target_label,
    epochs=150,
    batch_size=10,  # Reduced batch size to help with generalization
)

In [ ]:
predictions = model.predict(vectorized_x_test)
for y in predictions[:20]:
    if (y[0]<=0.5):
        print("Fake")
    else:
        print("Real")

In [ ]:
vectorized_x_test[:20]

## Testing dataset

In [ ]:
test_set.head()

In [ ]:
test_set.info()

In [ ]:
## check the null values and  duplicate values

In [ ]:
test_set.isnull().sum()

In [ ]:
test_set.duplicated().sum()

In [ ]:
## Get the value counts

In [ ]:
test_set['author'].value_counts()

In [ ]:
test_set['source'].value_counts()

## Explotary Data Analysis (EDA)

In [ ]:
test_set.isnull().sum()

In [ ]:
test_set.fillna({'source':'The Guardian'}, inplace=True)

In [ ]:
test_set['source'].isnull().sum()

In [ ]:
test_set.fillna({'author':'Lauren King'}, inplace=True)

In [ ]:
test_set['author'].isnull().sum()

In [ ]:
test_set.info()

#### test preprocessing

In [ ]:
import string 
import re

In [ ]:
## convert the uppercase letters into lowercase letters

In [ ]:
test_set['title']=test_set['title'].apply(lambda x: " ".join(x.lower() for x  in  x.split()))
test_set['title'].head()

In [ ]:
test_set['text']=test_set['text'].apply(lambda x:" ".join(x.lower() for x in x.split()))
test_set['text'].head()

In [ ]:
test_set['source']=test_set['source'].apply(lambda x:" ".join(x.lower() for x in x.split()))
test_set['source'].head()

In [ ]:
test_set['author']=test_set['author'].apply(lambda x:" ".join(x.lower() for x in x.split()))
test_set['author']

In [ ]:
test_set['category']=test_set['category'].apply(lambda x:" ".join(x.lower() for x in  x.split()))
test_set['category']

In [ ]:
## Remove the links from the text

In [ ]:
train_set['title']=train_set['title'].apply(lambda x: " ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [ ]:
test_set['title']=test_set['title'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [ ]:
test_set['title'].head()

In [ ]:
test_set['text']=test_set['text'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [ ]:
test_set['text'].head()

In [ ]:
test_set['source']=test_set['source'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [ ]:
test_set['source'].head()

In [ ]:
test_set['author']=test_set['author'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [ ]:
test_set['author'].head()

In [ ]:
test_set['category']=test_set['category'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [ ]:
test_set['category']

In [ ]:
## Remove the punctuations from text

In [ ]:
string.punctuation

In [ ]:
def remove_punctuation(text):
    for punctuations in string.punctuation:
        text=text.replace(punctuations,'')
    return text

In [ ]:
test_set['title']=test_set['title'].apply(remove_punctuation)
test_set['text']=test_set['text'].apply(remove_punctuation)
test_set['source']=test_set['source'].apply(remove_punctuation)
test_set['author']=test_set['author'].apply(remove_punctuation)
test_set['category']=test_set['category'].apply(remove_punctuation)

In [ ]:
test_set.head()

In [ ]:
## Remove the numbers from text

In [ ]:
train_set['title']=train_set['title'].str.replace('\d+','',regex=True)

In [ ]:
test_set['title']=test_set['title'].str.replace('\d+','',regex=True)

In [ ]:
test_set['source']=test_set['source'].str.replace('\d+','',regex=True)

In [ ]:
test_set['author']=test_set['author'].str.replace('\d+','',regex=True)

In [ ]:
test_set['category']=test_set['category'].str.replace('\d+','',regex=True)

In [ ]:
test_set.head()

In [ ]:
### stemming technique

In [ ]:
import nltk
nltk.download("stopwords",download_dir="stopwords1/")

In [ ]:
with open("stopwords1/corpora/stopwords/english", 'r') as file:
    sw_test=file.read().splitlines()

In [ ]:
sw_test

In [ ]:
test_set['title']=test_set['title'].apply(lambda x:" ".join(x for x in x.split() if x not in sw_test))

In [ ]:
test_set['source']=test_set['source'].apply(lambda x:" ".join(x for x in x.split() if x not in sw_test))

In [ ]:
test_set['author']=test_set['author'].apply(lambda x:" ".join(x for x in x.split() if x not in sw_test))

In [ ]:
test_set['text']=test_set['text'].apply(lambda x:" ".join(x for x in x.split() if x not in sw_test))

In [ ]:
test_set['category']=test_set['category'].apply(lambda x:" ".join(x for x in x.split() if x not in sw_test))

In [ ]:
test_set.head()

In [ ]:
## stemming technique

In [ ]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [ ]:
test_set['title']=test_set['title'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))

In [ ]:
test_set['text']=test_set['text'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))

In [ ]:
test_set['source']=test_set['source'].apply(lambda x:" ".join(ps.stem(x) for x in  x.split()))

In [ ]:
test_set['author']=test_set['author'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))

In [ ]:
test_set['category']=test_set['category'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))

In [ ]:
test_set.head()

In [ ]:
#from collections import Counter
#vocab_test=Counter()

In [ ]:
#vocab_test

In [ ]:
#test_set_columns=['title','text','source','author','category']
#for i in test_set_columns:
#    vocab_test.update(test_set[i])

In [ ]:
#len(vocab_test)

In [ ]:
#vocab_test

In [ ]:
## save the vociabulary based on the test data

In [ ]:
#def save_vocabulary(lines,filename):
#    data='\n'.join(lines)
#    file=open(filename, 'w',encoding='utf-8')
#    file.write(data)
#    file.close()

#save_vocabulary(vocab_test,'vocabulary_test.txt')

In [ ]:
test_set.head()

In [ ]:
test_set_features=test_set.drop(['label','date'],axis=1)

In [ ]:
test_set_features.head(10)

In [ ]:
## convert this dataframe into the list

In [ ]:
ds_test = test_set_features.astype(str).agg(' '.join, axis=1).tolist() 
len(ds_test)

In [ ]:
## convert the text of test data into numerical values

In [ ]:
vectorized_test_set=vectorizer(ds_test,vocab)
vectorized_test_set

In [ ]:
len(vectorized_test_set)

In [ ]:
len(vectorized_x_test)

In [ ]:
len(vectorized_test_set)

In [ ]:
prediction_new=model.predict(vectorized_test_set)
prediction_new

In [ ]:
for y in prediction_new[:20]:
    if y[0]<=0.5:
        print("Fake News")
    else:
        print("Real News")

## Testing the user entered data

In [83]:
## using the below section, users can identify any particular news  is  fake or real one by providing  their own  news title, catoegory, author, text, source.

In [ ]:
## Please enter title, text, source, author, and cateogry of news  as values in below dataframe

In [ ]:
sample_data_frame=pd.DataFrame({
    'title':["Foreign Democrat final."],
    'text':["more tax development both store agreement lawyer hear outside continue reach difference yeah figure your power fear identify there protect security great national nothing fast story why late nearly bit cost tough since question to power almost future young conference behind ahead building teach million box receive Mrs risk benefit month compare environment class imagine you vote community reason set once idea him answer many how purpose deep training game own true language garden of partner result face military discover discover data glass bed maintain test way development across top culture glass yes decision hope necessary as trade organization talk debate peace stay community development six wide write itself several fight teach billion for common fear we personal church establish store kind hundred debate hotel cut sister audience sound case that stay within information trouble be debate great themselves responsibility force people hundred bar miss others sometimes build room interesting however charge what especially north no especially us travel industry about including face ten behind black series place age soldier early trouble middle would along case what money significant sound song reason poor free want thank cultural range shoulder rest movie political fear hear past leader up edge professor determine law act change middle prove say notice travel open director argue economic seven game matter season"],
    'source':["NY Times"],
    'author':["Paula George"],
    'category':["Politics"]
})

In [ ]:
sample_data_frame.head()

In [ ]:
sample_data_frame['title']=sample_data_frame['title'].apply(lambda x:" ".join(x.lower() for x in x.split()))
sample_data_frame['text']=sample_data_frame['text'].apply(lambda x:" ".join(x.lower() for x in x.split()))
sample_data_frame['source']=sample_data_frame['source'].apply(lambda x:" ".join(x.lower() for x in x.split()))
sample_data_frame['author']=sample_data_frame['author'].apply(lambda x:" ".join(x.lower() for x in x.split()))
sample_data_frame['category']=sample_data_frame['category'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [ ]:
sample_data_frame['title']=sample_data_frame['title'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))
sample_data_frame['text']=sample_data_frame['text'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))
sample_data_frame['source']=sample_data_frame['source'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]','',x,flags=re.MULTILINE) for x in x.split()))
sample_data_frame['author']=sample_data_frame['author'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]','',x,flags=re.MULTILINE) for x in x.split()))
sample_data_frame['category']=sample_data_frame['category'].apply(lambda x:" ".join(re.sub(r'https?:\/\/.*[\r\n]','',x,flags=re.MULTILINE) for x in x.split()))

In [ ]:
sample_data_frame['title']=sample_data_frame['title'].apply(remove_punctuation)
sample_data_frame['text']=sample_data_frame['text'].apply(remove_punctuation)
sample_data_frame['source']=sample_data_frame['source'].apply(remove_punctuation)
sample_data_frame['author']=sample_data_frame['author'].apply(remove_punctuation)
sample_data_frame['category']=sample_data_frame['category'].apply(remove_punctuation)

In [ ]:
sample_data_frame['title']=sample_data_frame['title'].str.replace('\d+','',regex=True)
sample_data_frame['text']=sample_data_frame['text'].str.replace('\d+','',regex=True)
sample_data_frame['source']=sample_data_frame['source'].str.replace('\d+','',regex=True)
sample_data_frame['author']=sample_data_frame['author'].str.replace('\d+','',regex=True)
sample_data_frame['category']=sample_data_frame['category'].str.replace('\d+','',regex=True)

In [ ]:
sample_data_frame['title']=sample_data_frame['title'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
sample_data_frame['text']=sample_data_frame['text'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
sample_data_frame['source']=sample_data_frame['source'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
sample_data_frame['author']=sample_data_frame['author'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))
sample_data_frame['category']=sample_data_frame['category'].apply(lambda x:" ".join(ps.stem(x) for x in x.split()))

In [ ]:
## convert into the list

In [ ]:
ds_test_frame = sample_data_frame.astype(str).agg(' '.join, axis=1).tolist() 
len(ds_test_frame)

In [ ]:
vectorized_sample_data_frame=vectorizer(ds_test_frame, vocab)

In [ ]:
vectorized_sample_data_frame.shape

In [ ]:
sample_predictions=model.predict(vectorized_sample_data_frame)
print(sample_predictions)
if sample_predictions[0]<=0.5:
    print("Fake News")
else:
    print("Real News")

In [ ]:
model.save('ann_model.h5')

In [ ]:
import tensorflow as tf

ann_model= tf.keras.models.load_model("ann_model.h5")

In [ ]:
ann_model_predictions=ann_model.predict(vectorized_sample_data_frame)
if ann_model_predictions[0]<=0.5:
    print("Fake News")
else:
    print("Real News")