In [19]:
import pandas as pd
import seaborn as sns

In [21]:
## Import and read the first five records of dataset
data=pd.read_csv("fake_news_dataset.csv")
data.head()

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,real
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,fake
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,fake
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,fake
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,fake

In [8]:
## check the  data types of each columns of dataset

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     20000 non-null  object
 1   text      20000 non-null  object
 2   date      20000 non-null  object
 3   source    19000 non-null  object
 4   author    19000 non-null  object
 5   category  20000 non-null  object
 6   label     20000 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [13]:
## Get the number of  rows in the dataset

In [23]:
data.count()

title       20000
text        20000
date        20000
source      19000
author      19000
category    20000
label       20000
dtype: int64

## Explotary Data Analysis (EDA)

In [24]:
data.head()

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,real
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,fake
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,fake
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,fake
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,fake

In [17]:
## Check  the null values are their or not

In [18]:

from pyspark.sql.functions import col,isnan, when, count
data.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in data.columns]
   ).show()

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "isnan(date)" due to data type mismatch: Parameter 1 requires the ("DOUBLE" or "FLOAT") type, however "date" has the type "DATE".;
'Aggregate [count(CASE WHEN (isnan(cast(title#55 as double)) OR isnull(title#55)) THEN title END) AS title#155L, count(CASE WHEN (isnan(cast(text#56 as double)) OR isnull(text#56)) THEN text END) AS text#157L, count(CASE WHEN (isnan(date#57) OR isnull(date#57)) THEN date END) AS date#159, count(CASE WHEN (isnan(cast(source#58 as double)) OR isnull(source#58)) THEN source END) AS source#161L, count(CASE WHEN (isnan(cast(author#59 as double)) OR isnull(author#59)) THEN author END) AS author#163L, count(CASE WHEN (isnan(cast(category#60 as double)) OR isnull(category#60)) THEN category END) AS category#165L, count(CASE WHEN (isnan(cast(label#61 as double)) OR isnull(label#61)) THEN label END) AS label#167L]
+- Relation [title#55,text#56,date#57,source#58,author#59,category#60,label#61] csv