In [1]:
import pandas as pd
import seaborn as sns

In [2]:
## Import and read the first five records of dataset
data=pd.read_csv("fake_news_dataset.csv")
data.head()

,title,text,date,source,author,category,label
0,Foreign Democrat final.,more tax development both store agreement lawy...,2023-03-10,NY Times,Paula George,Politics,real
1,To offer down resource great point.,probably guess western behind likely next inve...,2022-05-25,Fox News,Joseph Hill,Politics,fake
2,Himself church myself carry.,them identify forward present success risk sev...,2022-09-01,CNN,Julia Robinson,Business,fake
3,You unit its should.,phone which item yard Republican safe where po...,2023-02-07,Reuters,Mr. David Foster DDS,Science,fake
4,Billion believe employee summer how.,wonder myself fact difficult course forget exa...,2023-04-03,CNN,Austin Walker,Technology,fake

In [3]:
## check the  data types of each columns of dataset

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     20000 non-null  object
 1   text      20000 non-null  object
 2   date      20000 non-null  object
 3   source    19000 non-null  object
 4   author    19000 non-null  object
 5   category  20000 non-null  object
 6   label     20000 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [5]:
## Get the number of  rows in the dataset

In [6]:
data.count()

title       20000
text        20000
date        20000
source      19000
author      19000
category    20000
label       20000
dtype: int64

In [7]:
## Check  the null values are their or not

In [8]:
data.isnull().sum()

title          0
text           0
date           0
source      1000
author      1000
category       0
label          0
dtype: int64

In [9]:
##  check the duplicate values

In [10]:
data.duplicated().sum()

0

In [11]:
## Split the whole dataset into train and test set

In [12]:
from sklearn.model_selection import train_test_split

train_set,test_set=train_test_split(data, test_size=0.2, random_state=42)

In [13]:
print(train_set.shape,test_set.shape)

(16000, 7) (4000, 7)

## Explotary Data Analysis  (EDA)

In [14]:
## check the null values of train_set

In [15]:
train_set.isnull().sum()

title         0
text          0
date          0
source      782
author      811
category      0
label         0
dtype: int64

In [16]:
## check the duplicate values of  train_set

In [17]:
train_set.duplicated().sum()

0

In [18]:
## check the value counts of  source and  author solumns

In [19]:
train_set['source'].value_counts()

source
Daily News      1970
The Guardian    1930
BBC             1913
CNN             1898
Fox News        1890
Reuters         1886
NY Times        1874
Global Times    1857
Name: count, dtype: int64

In [20]:
train_set['author'].value_counts()

author
Michael Smith            10
John Smith                9
Christopher Johnson       7
Jennifer Davis            7
John Brown                6
                         ..
Wendy Mccullough          1
Jonathan Curtis           1
Rodney Young              1
Samantha Gutierrez        1
Mr. Ernest Harris Jr.     1
Name: count, Length: 13847, dtype: int64

In [21]:
## fill the null values

In [22]:
train_set['source'].fillna('Global Times', inplace=True)

C:\Users\THIS PC\AppData\Local\Temp\ipykernel_11980\3912575003.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_set['source'].fillna('Global Times', inplace=True)

In [23]:
train_set.isnull().sum()

title         0
text          0
date          0
source        0
author      811
category      0
label         0
dtype: int64

In [24]:
train_set['author'].fillna('Wendy Mccullough', inplace=True)

C:\Users\THIS PC\AppData\Local\Temp\ipykernel_11980\546374671.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_set['author'].fillna('Wendy Mccullough', inplace=True)

In [25]:
train_set.isnull().sum()

title       0
text        0
date        0
source      0
author      0
category    0
label       0
dtype: int64

In [26]:
train_set.isnull().sum()

title       0
text        0
date        0
source      0
author      0
category    0
label       0
dtype: int64

In [27]:
## check the duplicate values again

In [28]:
train_set.duplicated().sum()

0

## Explotary Data Analysis (EDA)

#### Text Preprocessing

In [29]:
train_set.head()

,title,text,date,source,author,category,label
5894,Age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,NY Times,Kimberly Martinez,Politics,real
3728,Trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,BBC,Mr. Daniel Bailey DDS,Sports,real
8958,Animal painting interest I society air east to...,yourself religious point hour Mrs cover case s...,2024-08-25,NY Times,Kimberly Wagner,Politics,fake
7671,Improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,CNN,Charlene Harrington,Entertainment,fake
5999,Family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,Fox News,Robert Gardner,Politics,real

In [30]:
#train_set['source'].value_counts()

In [31]:
#train_set['category'].value_counts()

In [32]:
#train_set['category'].head(100)

In [33]:
#train_set.replace({'source':{'Daily News':0,'The Guardian':1,'BBC':3,'CNN':4,'Fox News':5,'Reuters':6,'NY Times':7,'Global Times':8}}, inplace=True)
#train_set.replace({'cateogry':{'Health':1,'Entertainment':2,'Technology':3,'Business':4,'Sports':5,'Science':6,'Politics':7}},inplace=True)
#train_set.head()

In [34]:
import re
import string

In [35]:
train_set['text'].head()

5894    image morning whether thought seven office kit...
3728    recent item success plant dark however however...
8958    yourself religious point hour Mrs cover case s...
7671    road listen add question main head worker gene...
5999    low indicate education support brother suffer ...
Name: text, dtype: object

In [36]:
## Convert uppercase into lowercase

In [37]:
train_set['text']=train_set['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [38]:
train_set['text']

5894     image morning whether thought seven office kit...
3728     recent item success plant dark however however...
8958     yourself religious point hour mrs cover case s...
7671     road listen add question main head worker gene...
5999     low indicate education support brother suffer ...
                               ...
11284    middle form imagine item company good town for...
11964    collection short section yourself involve real...
5390     card compare magazine education evening energy...
860      fire ask lose institution field candidate age ...
15795    book easy morning report kind better start fig...
Name: text, Length: 16000, dtype: object

In [39]:
train_set['author']=train_set['author'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [40]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [41]:
train_set['title']=train_set['title'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [42]:
train_set['title']

5894     age important scientist question why onto acti...
3728     trial candidate travel pretty agreement attack...
8958     animal painting interest i society air east to...
7671                      improve surface face today fact.
5999                      family pressure common behavior.
                               ...
11284               surface address media speak join poor.
11964     short theory live role pressure since point for.
5390                       hope television artist improve.
860           far choice test last generation friend rich.
15795          audience four art section assume a may out.
Name: title, Length: 16000, dtype: object

In [43]:
train_set['author']=train_set['author'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [44]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [45]:
train_set['source']=train_set['source'].apply(lambda x:" ".join(x.lower() for x in  x.split()))

In [46]:
train_set['source']

5894       ny times
3728            bbc
8958       ny times
7671            cnn
5999       fox news
            ...
11284      fox news
11964      ny times
5390            bbc
860      daily news
15795      ny times
Name: source, Length: 16000, dtype: object

In [47]:
train_set['category']=train_set['category'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [48]:
train_set['category']

5894          politics
3728            sports
8958          politics
7671     entertainment
5999          politics
             ...
11284         business
11964         business
5390           science
860            science
15795           sports
Name: category, Length: 16000, dtype: object

In [49]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr. daniel bailey dds,sports,real
8958,animal painting interest i society air east to...,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact.,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior.,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [50]:
## Remove the links

In [52]:
train_set['title']=train_set['title'].apply(lambda x: " ".join(re.sub(r'https?:\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [53]:
train_set['title']

5894     age important scientist question why onto acti...
3728     trial candidate travel pretty agreement attack...
8958     animal painting interest i society air east to...
7671                      improve surface face today fact.
5999                      family pressure common behavior.
                               ...
11284               surface address media speak join poor.
11964     short theory live role pressure since point for.
5390                       hope television artist improve.
860           far choice test last generation friend rich.
15795          audience four art section assume a may out.
Name: title, Length: 16000, dtype: object

In [55]:
train_set['text']=train_set['text'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [57]:
train_set['text']

5894     image morning whether thought seven office kit...
3728     recent item success plant dark however however...
8958     yourself religious point hour mrs cover case s...
7671     road listen add question main head worker gene...
5999     low indicate education support brother suffer ...
                               ...
11284    middle form imagine item company good town for...
11964    collection short section yourself involve real...
5390     card compare magazine education evening energy...
860      fire ask lose institution field candidate age ...
15795    book easy morning report kind better start fig...
Name: text, Length: 16000, dtype: object

In [63]:
train_set['source']=train_set['source'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [64]:
train_set['source']

5894       ny times
3728            bbc
8958       ny times
7671            cnn
5999       fox news
            ...
11284      fox news
11964      ny times
5390            bbc
860      daily news
15795      ny times
Name: source, Length: 16000, dtype: object

In [65]:
train_set['author']=train_set['author'].apply(lambda x:" ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [66]:
train_set['author']

5894         kimberly martinez
3728     mr. daniel bailey dds
8958           kimberly wagner
7671       charlene harrington
5999            robert gardner
                 ...
11284              cathy woods
11964      nicholas williamson
5390               david mcgee
860           stephanie austin
15795    mr. ernest harris jr.
Name: author, Length: 16000, dtype: object

In [68]:
train_set['category']=train_set['category'].apply(lambda x: " ".join(re.sub(r'https?\/\/.*[\r\n]*','',x,flags=re.MULTILINE) for x in x.split()))

In [69]:
train_set['category']

5894          politics
3728            sports
8958          politics
7671     entertainment
5999          politics
             ...
11284         business
11964         business
5390           science
860            science
15795           sports
Name: category, Length: 16000, dtype: object

In [70]:
## Remove the puncutations from text

In [72]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [74]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr. daniel bailey dds,sports,real
8958,animal painting interest i society air east total,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real

In [75]:
def remove_punctuation(text):
    for punctuations in string.punctuation:
        text=text.replace(punctuations,'')
    return text

train_set['title']=train_set['title'].apply(remove_punctuation)
train_set['text']=train_set['text'].apply(remove_punctuation)
train_set['source']=train_set['source'].apply(remove_punctuation)
train_set['author']=train_set['author'].apply(remove_punctuation)
train_set['category']=train_set['category'].apply(remove_punctuation)

In [76]:
train_set['title'].head()

5894    age important scientist question why onto acti...
3728    trial candidate travel pretty agreement attack...
8958    animal painting interest i society air east total
7671                      improve surface face today fact
5999                      family pressure common behavior
Name: title, dtype: object

In [77]:
train_set['text'].head()

5894    image morning whether thought seven office kit...
3728    recent item success plant dark however however...
8958    yourself religious point hour mrs cover case s...
7671    road listen add question main head worker gene...
5999    low indicate education support brother suffer ...
Name: text, dtype: object

In [78]:
train_set['source'].head()

5894    ny times
3728         bbc
8958    ny times
7671         cnn
5999    fox news
Name: source, dtype: object

In [79]:
train_set['author'].head()

5894       kimberly martinez
3728    mr daniel bailey dds
8958         kimberly wagner
7671     charlene harrington
5999          robert gardner
Name: author, dtype: object

In [80]:
train_set['category'].head()

5894         politics
3728           sports
8958         politics
7671    entertainment
5999         politics
Name: category, dtype: object

In [81]:
## Remove the numbers from  text

In [84]:
train_set['title']=train_set['title'].str.replace('\d+','',regex=True)
train_set['text']=train_set['text'].str.replace('\d+','',regex=True)
train_set['source']=train_set['source'].str.replace('\d+','',regex=True)
train_set['author']=train_set['author'].str.replace('\d+','',regex=True)
train_set['category']=train_set['category'].str.replace('\d+','',regex=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_11980\3529597117.py:1: SyntaxWarning: invalid escape sequence '\d'
  train_set['title']=train_set['title'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_11980\3529597117.py:2: SyntaxWarning: invalid escape sequence '\d'
  train_set['text']=train_set['text'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_11980\3529597117.py:3: SyntaxWarning: invalid escape sequence '\d'
  train_set['source']=train_set['source'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_11980\3529597117.py:4: SyntaxWarning: invalid escape sequence '\d'
  train_set['author']=train_set['author'].str.replace('\d+','',regex=True)
C:\Users\THIS PC\AppData\Local\Temp\ipykernel_11980\3529597117.py:5: SyntaxWarning: invalid escape sequence '\d'
  train_set['category']=train_set['category'].str.replace('\d+','',regex=True)

In [85]:
train_set.head()

,title,text,date,source,author,category,label
5894,age important scientist question why onto acti...,image morning whether thought seven office kit...,2022-05-30,ny times,kimberly martinez,politics,real
3728,trial candidate travel pretty agreement attack...,recent item success plant dark however however...,2024-10-20,bbc,mr daniel bailey dds,sports,real
8958,animal painting interest i society air east total,yourself religious point hour mrs cover case s...,2024-08-25,ny times,kimberly wagner,politics,fake
7671,improve surface face today fact,road listen add question main head worker gene...,2023-10-07,cnn,charlene harrington,entertainment,fake
5999,family pressure common behavior,low indicate education support brother suffer ...,2025-03-17,fox news,robert gardner,politics,real